h1{
    font-size: 40px;
}
#border{
    border-left: 5px solid;
    border-image: linear-gradient(cyan, rgb(98, 98, 238));
    border-image-slice: 1;
    padding-left: 5px;
}
.color{
    color: powderblue;
}
.size{
    font-size: 20px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(skyblue, cyan);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 800;
}
.half-width{
    width: 50%;
    padding-left: 5%;
   
    
}
.half-width img{
    width: 90%;
}
.flexing{
    display: flex;
    margin-top: 50px;
}
#padding{
    padding-left:5% ;
    font-size: 20px;
}
#center{
    text-align: center;
}
.div-1{
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    padding: 10px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 20px;
    margin: auto;
    

}
.div-1 img{
    width: 30%;
}
.div-2{
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    padding: 10px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 20px;
    margin: auto;
}
.div-2 img{
    width: 50%;
}
.div-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;

}
#color-1{
    background-color: lightyellow;
}
#color-2{
    background-color: mistyrose;
}
#color-3{
    background-color: lightgrey;
}
